/meituan/
*.jar
/.vscode/
/target/
/demo/
/telegram/
/output/
/doubao/
/servicedemo
/keystoredemo
/scripts/log/
/scripts/result/
/infomaniak/
/keepassdx/
/app/
__pycache__/
/scripts/.smaliparser/
/results/
/log/
scripts/__pycache__/